<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Dirección de Transito  - Perto Moreno </title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="../assets/css/font-awesome-animation.css" rel="stylesheet" />
     <!--PRETTYPHOTO MAIN STYLE -->
    <link href="../assets/css/prettyPhoto.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="../assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>
<body >
    <!-- NAV SECTION -->
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-light">
       
        <div class="container">
            

                <a class="navbar-brand titulo-head" href="../index.html">
                    <img class="titulo-item d-md-block d-lg-block d-sm-none d-none" src="../assets/img/Icon/cono-de-trafico3.png" alt="">
                    <div id="titulo-principal" class="titulo-item text-uppercase">Transito
                        Perito Moreno
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse" id="navbarScroll" >
                    <ul class="nav navbar-nav navbar-right ms-auto">
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html">HOME</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html#auto-sec">VEHICULO</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="Licencia.html">TRÁMITE</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html#moto-sec">MOTO</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html#contact-sec">CONTACTO</a></li>
                    </ul>
                </div>
                
            
        </div>
    </nav>
    <!--END NAV SECTION -->

    <!-- INFORMACIÓN SECTION -->
    <main id="licencia-sec">

        <section class="container">
            <article class="col-lg-12">
                <div class="text-center" >
                    <h1 class="pt-4 "> <i class="fa fa-crosshairs "></i> Informacion a tener en cuenta </h1>
                </div>
            </article>
            <div class="row py-3">
                <article class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <h5 class="card-header">
                            Licencia Original (Primera vez)
                        </h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted">Requisitos:</h6>
                                <ul>
                                    <li><p class="card-text">Libre de infracción (Juez de faltas).</p></li>
                                    <li><p class="card-text">Fotocopia DNI.</p></li>
                                    <li><p class="card-text">Fotocopia de CUIL.</p></li>
                                    <li><p class="card-text">Fotocopia de grupo sanguineo.</p></li>
                                    <li><p class="card-text">Libre deudor alimentario (Registro civil).</p></li>
                                </ul>    
                            </li>
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted">Pasos:</h6>
                                <ul>
                                    <li><p class="card-text">Solicitar y abonar CENAT.</p></li>
                                    <li><p class="card-text">FUT (Tramite en inspección).</p></li>
                                    <li><p class="card-text">Psicofísico con medicos habilitados.</p></li>
                                    <li>
                                        <p class="card-text">Curso teórico/practico en: <a href="https://curso.seguridadvial.gob.ar/ansv/" target="_blank">curso.seguridadvial</a>.</p>
                                    </li>        
                                    <li><p class="card-text">Oficina de Tránsito (teórico y práctico).</p></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </article>
                
                <article class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <h5 class="card-header">
                            Cambio de Domicilio
                        </h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted">Requisitos:</h6>
                                <ul>
                                    <li><p class="card-text">Libre de infracción (Juez de faltas).</p></li>
                                    <li><p class="card-text">Certificado de legalidad.</p></li>
                                    <li><p class="card-text">Fotocopia DNI con domicilio actualizado.</p></li>
                                    <li><p class="card-text">Foto tipo carnet 4x4.</p></li>
                                    <li><p class="card-text">Fotocopia de CUIL.</p></li>
                                    <li><p class="card-text">Fotocopia de grupo sanguineo.</p></li>
                                    <li><p class="card-text">Libre deudor alimentario (Registro civil).</p></li>
                                </ul>
                            </li>
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted">Pasos:</h6>
                                <ul>
                                    <li><p class="card-text">Solicitar y abonar CENAT.</p></li>
                                    <li><p class="card-text">FUT (Trámite en inspección).</p></li>
                                    <li><p class="card-text">Psicofísico con medicos habilitados.</p></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="row py-3">
                <article class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <h5 class="card-header">
                            Renovación
                        </h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                            <h6 class="card-subtitle mb-2 text-muted">Requisitos:</h6>
                                <ul>
                                    <li><p class="card-text">Libre de infracción (Juez de faltas).</p></li>
                                    <li><p class="card-text">Fotocopia DNI.</p></li>
                                    <li><p class="card-text">Libre deudor alimentario (Registro civil).</p></li>
    
                                </ul>
                            </li>
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted">Pasos:</h6>
                                <ul>
                                    <li><p class="card-text">Solicitar y abonar CENAT.</p></li>
                                    <li><p class="card-text">FUT (Trámite en inspecció).</p></li>
                                    <li><p class="card-text">Psicofísico con medicos habilitados.</p></li>
                                </ul>
                            </li>
                            
                            
                        </ul>
                    </div>
                </article>
                <article class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <h5 class="card-header">
                            Duplicado por extravío
                        </h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted">Requisitos:</h6>
                                <ul class="">
                                    <li><p class="card-text">Libre de infracción de la localidad proveniente (Juez de faltas).</p></li>
                                    <li><p class="card-text">Certificado de extravío.</p></li>
                                    <li><p class="card-text">Fotocopia de DNI con domicilio actualizado.</p></li>
                                </ul>    
                            </li>
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted">Pasos:</h6>
                                <ul class="">
                                    <li><p class="card-text">Solicitar y abonar CENAT.</p></li>
                                    <li><p class="card-text">FUT (Tramite en inspección).</p></li>
                                    <li><p class="card-text">Psicofísico con medicos habilitados.</p></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>
    </main> 
    <!--END INFORMACIÓN SECTION -->


    <!--CONTACT SECTION-->
    <section  id="contact-sec">
        <div class="container">
            <h1 class="pt-4 text-light">  <i class="fa fa-crosshairs"></i> Contacto</h1>
            <div class="row g-pad-bottom">
                
                  
                <div class="col-md-6 ">
                    
                    <h5 class="text-light fw-bold">
                        <strong class="text-decoration-underline"> Direccion: </strong> &nbsp; 25 de mayo N°                  
                    </h5>
                    <h5 class="text-light fw-bold">
                        <strong class="text-decoration-underline"> Horario de Atención: </strong> &nbsp; 09:00 a 13:00 hs                  
                    </h5>
                </div>
                <div class="col-md-6">
                    <iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1370.7409138671183!2d-70.92234754313981!3d-46.59748016253028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1736629211152!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                   <!--<iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999841.293321206!2d-75.80920404999999!3d42.75594204999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew+York!5e0!3m2!1sen!2s!4v1395313088825" s ></iframe>-->

                </div>
            </div>
        </div>
    </section>
    <!--END CONTACT SECTION-->




    <!--FOOTER SECTION -->
    <footer id="footer">
        2025 Dirección de Transito Municipal | Perito Moreno, Santa Cruz        
    </footer>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="../assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="../assets/plugins/bootstrap.min.js"></script>  
     <!-- ISOTOPE SCRIPT   -->
    <script src="../assets/plugins/jquery.isotope.min.js"></script>
    <!-- PRETTY PHOTO SCRIPT   -->
    <script src="../assets/plugins/jquery.prettyPhoto.js"></script>    
    <!-- CUSTOM SCRIPTS -->
    <script src="../assets/js/custom.js"></script>
    

</body>
</html>
