<!DOCTYPE html>
<html lang="es">
<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CGZ4E3BR23"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CGZ4E3BR23');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Material de estudio  - Perto Moreno </title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="../assets/css/font-awesome-animation.css" rel="stylesheet" />
     <!--PRETTYPHOTO MAIN STYLE -->
    <link href="../assets/css/prettyPhoto.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="../assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    
</head>
<body >
    <!-- NAV SECTION -->
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-light">
       
        <div class="container">
            

                <a class="navbar-brand titulo-head" href="../index.html">
                    <div id="titulo-principal" class="titulo-item">
                      <img class="icon-titulo" src="../assets/img/Icon/LOGO.svg" alt="Tránsito Perito Moreno">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse" id="navbarScroll" >
                    <ul class="nav navbar-nav navbar-right ms-auto">
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html">HOME</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html#auto-sec">VEHICULO</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="Licencia.html">TRÁMITE</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html#moto-sec">MOTO</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html#contact-sec">CONTACTO</a></li>
                    </ul>
                </div>
                
            
        </div>
    </nav>
    <!--END NAV SECTION -->
    
    <!--MATERIAL ACCORDION SECTION-->
    <main id="material-sec">
        <article class="container">
            <div class="row pb-5">
                <section class="col-lg-12">
                    <div class="text-center" >
                        <h1 class="pt-4 "> <i class="fa fa-crosshairs "></i> Material de Estudio </h1>
                    </div>
                </section>
                <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="accordion" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                              <h5>Señales viales</h5> 
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse p-0 m-0" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><p>Señales de transito: <a href="../Material/senales_de_transito.pdf" download="Señales-viales">Descargar Archivo</a></p></div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              <h5>Estrellas amarillas</h5>
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><p>Estrellas amarillas: <a href="../Material/Estrellas-amarillas-peritomoreno.pdf" download="Estrellas-amarillas">Descargar Archivo</a></p></div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              <h5>Genero</h5>
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><p>Genero: <a href="../Material/Genero-peritomoreno.pdf" download="Genero">Descargar Archivo</a></p></div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                              <h5>Categoria A</h5>
                            </button>
                          </h2>
                          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><p>Categoria A1, A2 A3: <a href="../Material/CategoriaA-peritomoreno.pdf" download="categoria-a">Descargar Archivo</a></p></div>
                          </div>
                        </div>
                    </div>
                </section>
                <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="accordion" id="accordionFlushExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            <h5>Categoria B</h5> 
                          </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse p-0 m-0" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body"><p>Categoria B1 y B2: <a href="../Material/CategoriaB-peritomoreno.pdf" download="categoria-b">Descargar Archivo</a></p></div>
                        </div>
                      </div>
                  </div>
                  <div class="accordion" id="accordionFlushExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            <h5>Categoria C</h5> 
                          </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse p-0 m-0" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body"><p>Categoria C1, C2 y C3: <a href="../Material/CategoriaC-peritomoreno.pdf" download="categoria-c">Descargar Archivo</a></p></div>
                        </div>
                      </div>
                  </div>
              </section>
            </div>
        </article>
    </main>
    <!--END MATERIAL ACCORDION SECTION -->


    <!--CONTACT SECTION-->
    <section  id="contact-sec">
        <div class="container">
            <h1 class="pt-4 text-light">  <i class="fa fa-crosshairs"></i> Contacto</h1>
            <div class="row g-pad-bottom">
                
                  
                <div class="col-md-6 ">
                    
                    <h5 class="text-light fw-bold">
                        <strong class="text-decoration-underline"> Direccion: </strong> &nbsp; 25 de mayo y 12 de Octubre.                  
                    </h5>
                    <h5 class="text-light fw-bold">
                        <strong class="text-decoration-underline"> Horario de Atención: </strong> &nbsp; Lunes a Viernes de 09:00 a 13:00 hs.                  
                    </h5>
                </div>
                <div class="col-md-6">
                    <iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1370.7409138671183!2d-70.92234754313981!3d-46.59748016253028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1736629211152!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                   <!--<iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999841.293321206!2d-75.80920404999999!3d42.75594204999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew+York!5e0!3m2!1sen!2s!4v1395313088825" s ></iframe>-->

                </div>
            </div>
        </div>
    </section>
    <!--END CONTACT SECTION-->




    <!--FOOTER SECTION -->
    <footer id="footer">
        2025 Dirección de Tránsito Municipal | Perito Moreno, Santa Cruz        
    </footer>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="../assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="../assets/plugins/bootstrap.min.js"></script>  
     <!-- ISOTOPE SCRIPT   -->
    <script src="../assets/plugins/jquery.isotope.min.js"></script>
    <!-- PRETTY PHOTO SCRIPT   -->
    <script src="../assets/plugins/jquery.prettyPhoto.js"></script>    
    <!-- CUSTOM SCRIPTS -->
    <script src="../assets/js/custom.js"></script>
    

</body>
</html>
