<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CGZ4E3BR23"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CGZ4E3BR23');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Recomendaciones  - Perto Moreno </title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="../assets/css/font-awesome-animation.css" rel="stylesheet" />
     <!--PRETTYPHOTO MAIN STYLE -->
    <link href="../assets/css/prettyPhoto.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="../assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->
    
</head>
<body >
         <!-- NAV SECTION -->
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-light">
       
        <div class="container">
            

                <a class="navbar-brand titulo-head" href="../index.html">
                    <div id="titulo-principal" class="titulo-item">
                        <img class="icon-titulo" src="../assets/img/Icon/LOGO.svg" alt="Tránsito Perito Moreno">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse" id="navbarScroll" >
                    <ul class="nav navbar-nav navbar-right ms-auto">
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html">HOME</a></li>
                        <!--<li class="nav-item"><a class="nav-link text-dark" href="../index.html#auto-sec">VEHICULO</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html#moto-sec">MOTO</a></li>-->
                        <li class="nav-item"><a class="nav-link text-dark" href="Licencia.html">TRÁMITE</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="Material.html">MATERIAL ESTUDIO</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="Views/Recomendacion.html">RECOMENDACIONES</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html#contact-sec">CONTACTO</a></li>
                    </ul>
                </div>
                
            
        </div>
    </nav>
    <!--END NAV SECTION -->
    
    <!--RECOMENDACIÓN SECTION-->
    <main id="info-sec">
        <div class="container">
            <div class="text-center" >
                <h1 class="pt-4 "> <i class="fa fa-crosshairs "></i> Recomendaciones al circular </h1>
            </div>
            <article class="row pb-4">
                <section id="section-fade-right" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-end border-danger">
                    
                </section>
                <section id="section-fade-left" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-start border-danger">
                    
                </section>
            </article>
        </div>
    </main>
    <!--END RECOMENDACIÓN SECTION -->


    <!--CONTACT SECTION-->
    <section  id="contact-sec">
        <div class="container">
            <h1 class="pt-4 text-light">  <i class="fa fa-crosshairs"></i> Contacto</h1>
            <div class="row g-pad-bottom">
                
                  
                <div class="col-md-6 ">
                    
                    <h5 class="text-light fw-bold">
                        <strong class="text-decoration-underline"> Direccion: </strong> &nbsp; 25 de mayo y 12 de Octubre.                  
                    </h5>
                    <h5 class="text-light fw-bold">
                        <strong class="text-decoration-underline"> Horario de Atención: </strong> &nbsp; Lunes a Viernes de 09:00 a 13:00 hs.                  
                    </h5>
                </div>
                <div class="col-md-6">
                    <iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1370.7409138671183!2d-70.92234754313981!3d-46.59748016253028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1736629211152!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
            </div>
        </div>
    </section>
    <!--END CONTACT SECTION-->




    <!--FOOTER SECTION -->
    <footer id="footer">
        2025 Dirección de Tránsito Municipal | Perito Moreno, Santa Cruz        
    </footer>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="../assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="../assets/plugins/bootstrap.min.js"></script>  

    <!-- ISOTOPE SCRIPT   -->
    <!--<script src="../assets/plugins/jquery.isotope.min.js"></script>-->
    <!-- PRETTY PHOTO SCRIPT   -->
    <script src="../assets/plugins/jquery.prettyPhoto.js"></script>    
    <!-- CUSTOM SCRIPTS -->
    <!--<script src="../assets/js/custom.js"></script>-->
    <!-- RECOMENDACIONES SCRIPTS -->
    <script type="module" src="../assets/js/recomendacionScript.js"></script>
    

</body>
</html>