<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Dirección de Transito  - Perto Moreno </title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="../assets/css/font-awesome-animation.css" rel="stylesheet" />
     <!--PRETTYPHOTO MAIN STYLE -->
    <link href="../assets/css/prettyPhoto.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="../assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->
    
</head>
<body >
         <!-- NAV SECTION -->
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-light">
       
        <div class="container">
            

                <a class="navbar-brand titulo-head" href="../index.html">
                    <img class="titulo-item d-md-block d-lg-block d-sm-none d-none" src="../assets/img/Icon/cono-de-trafico3.png" alt="">
                    <div id="titulo-principal" class="titulo-item text-uppercase">Transito
                        Perito Moreno
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse" id="navbarScroll" >
                    <ul class="nav navbar-nav navbar-right ms-auto">
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html">HOME</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html#auto-sec">VEHICULO</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="Licencia.html">TRÁMITE</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html#moto-sec">MOTO</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="../index.html#contact-sec">CONTACTO</a></li>
                    </ul>
                </div>
                
            
        </div>
    </nav>
    <!--END NAV SECTION -->
    
    <!--RECOMENDACIÓN SECTION-->
    <main id="info-sec">
        <div class="container">
            <div class="text-center" >
                <h1 class="pt-4 "> <i class="fa fa-crosshairs "></i> Recomendaciones al circular </h1>
            </div>
            <article class="row pb-4">
                <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-end border-danger">
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">Siempre que circule debe usar el cinturón de seguridad, así sea para circular 20 mts.</p>
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">La distancia permitida para estacionar entre vehículos no debe ser inferior a los 50 cm.</p>
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">El estacionamiento se efectuará paralelo al cordón y no debe exceder los 20 cm.</p>
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">En playa de estacionamiento o plataformas especiales el estacionamiento se efectuará a 45° y a un metro entre vehículos.</p>
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">Cuando un vehículo de emergencia se aproxima con balizas encendidas y sirenas reglamentarias, siempre debe desplazarse hacia la derecha lo más posible y despejar la vía.</p>
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">Ante la presencia de un cartel de CEDA EL PASO, se debe reducir la velocidad y detenerse si fuera necesario.</p>
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">La edad para circular con ciclomotores es a partir de los 16 años por ordenanza.</p>
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">Los menores de 10 años no pueden circular en camionetas cabina simple, debido a que los mismos no pueden circular en el asiento de adelante.</p>
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">Ante la presencia de un cartel indicador de escuela, siempre se debe disminuir la velocidad.</p>    
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">Zona de líneas demarcadas (cordones pintados), amarillo y negro significa que solamente se podrá efectuar ascenso y descenso de pasajeros- queda prohibido estacionar.</p>    
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">Cordones pintados de color rojo y blanco queda prohibido estacionar y detenerse.</p>    
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">En las autopistas se puede circular a velocidad de 130 km/h se debe hacer siempre por el carril izquierdo, respetando las velocidades máximas que la misma indica.</p>    
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">A partir de que se disminuye la velocidad es obligatorio circular por la derecha.</p>    
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">Ante la presencia de un cartel de PARE, recuerde detener el vehículo en forma total y verificar que no se aproxima otro rodado.</p>    
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">La edad para obtener el carnet de conducir clase “B” es de 17 años con la autorización de los padres/tutores.</p>    
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">La edad para obtener el carnet de conducir clase “D” es de 18 años y tener como mínimo un año de permanencia con el de clase “B”.</p>    
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">Las luces permitidas para conducir, son de color blancas y amarillas.</p>    
                        </div>
                    </div>
                    <div class="card fade-right" data-animation="fade-right">
                        <div class="card-body">
                            <p class="p-info">Recuerde que las luces intermitentes (balizas) solamente se deben utilizar en el caso de emergencias o en el caso de que se produzca una avería mecánica, pincha una cubierta, etc.</p>    
                        </div>
                    </div>
                </section>
                <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-start border-danger">
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Antes de comenzar a circular debo verificar el estado del vehículo, como así mismo verificar que en el mismo se encuentre toda la documentación del mismo.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Está prohibido la circulación utilizando auriculares y sistema de comunicación manual.</p>    
                        </div data-aos="fade-right">
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Está prohibido circular con vehículos que posean defensas delanteras y/o traseras, enganches sobresalientes, o cualquier elemento que exceda los límites de los paragolpes, laterales de la carrocería.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Cuando se cambia de jurisdicción y se realiza cambio de domicilio se debe renovar la licencia de conducir (denuncia cambio de datos) antes de los 90 días.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Si un peatón circula por donde no hay aceras (veredas), siempre debe hacerlo en sentido contrario al de los vehículos.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">En la vía pública debe respetar las indicaciones de los inspectores, las señales y las normas legales siempre en ese orden.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Cuando transita en ruta es obligatorio circular con las luces cortas encendidas.</p>    
                        </div data-aos="fade-right">
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Prioridad desde el que viene de la derecha es absoluta, pero se pierde ante vehículos de emergencia en cumplimiento de su misión (sirenas y balizas encendidas, en caso de circular por calles de tierra y va a ingresar a una asfaltada pierde prioridad de la derecha.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Cualquier maniobra se debe advertir previamente y realizarla con precaución “luces de giro”.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Cuando ingresa en rotonda la prioridad de paso es absoluta, sobre los que intentan ingresar.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Siempre se debe portar la documentación exigida en la ley de tránsito: Licencia de conducir, cédula de identificación del automotor, recibo pago patente y seguro.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Que el número de ocupantes guarde relación con la capacidad para la que fue construido el automóvil (una persona por cada cinturón de seguridad).</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Todo conductor debe ceder en encrucijadas el paso al que transita por su derecha.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Todo conductor debe ceder en encrucijadas el paso al que transita por su derecha.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">En ruta doble línea blanca paralelas una continua y la otra discontinua significa que solo podrá superar otro vehículo solamente cuando se halle la discontinua del lado del conductor.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">Según Ordenanza Municipal N° 158 la edad mínima permitida para circular por la calzada con rodados impulsados (bicicletas) por sus conductores es de 12 años.</p>    
                        </div>
                    </div>
                    <div class="card fade-left" data-animation="fade-left">
                        <div class="card-body">
                            <p class="p-info">La utilización de luces bajas son obligatorias en áreas urbanas, zonas rurales, rutas, carreteras, semiautopistas y autopistas, durante las 24 horas del día.</p>    
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </main>
    <!--END RECOMENDACIÓN SECTION -->


    <!--CONTACT SECTION-->
    <section  id="contact-sec">
        <div class="container">
            <h1 class="pt-4 text-light">  <i class="fa fa-crosshairs"></i> Contacto</h1>
            <div class="row g-pad-bottom">
                
                  
                <div class="col-md-6 ">
                    
                    <h5 class="text-light fw-bold">
                        <strong class="text-decoration-underline"> Direccion: </strong> &nbsp; 25 de mayo y 12 de Octubre.                  
                    </h5>
                    <h5 class="text-light fw-bold">
                        <strong class="text-decoration-underline"> Horario de Atención: </strong> &nbsp; Lunes a Viernes de 09:00 a 13:00 hs.                  
                    </h5>
                </div>
                <div class="col-md-6">
                    <iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1370.7409138671183!2d-70.92234754313981!3d-46.59748016253028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1736629211152!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
            </div>
        </div>
    </section>
    <!--END CONTACT SECTION-->




    <!--FOOTER SECTION -->
    <footer id="footer">
        2025 Dirección de Transito Municipal | Perito Moreno, Santa Cruz        
    </footer>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="../assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="../assets/plugins/bootstrap.min.js"></script>  
     <!-- ISOTOPE SCRIPT   -->
    <script src="../assets/plugins/jquery.isotope.min.js"></script>
    <!-- PRETTY PHOTO SCRIPT   -->
    <script src="../assets/plugins/jquery.prettyPhoto.js"></script>    
    <!-- CUSTOM SCRIPTS -->
    <script src="../assets/js/custom.js"></script>
    

</body>
</html>